body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  h1, #designed-by {
    text-align: center;
    color: lightcoral;
  }
  
  .style1 {
    background-color: rgb(233, 227, 167);
  }
  
  .style2 {
    background-color: rgb(142, 209, 219);
  }
  
  .style3 {
    background-color: rgb(216, 159, 159);
  }
  
  .style4 {
    background-color: rgb(181, 235, 181);
  }
  
  .style5 {
    background-color: rgb(203, 153, 231);
  }
  
  .style6 {
    background-color: rgb(227, 180, 146);
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }